name: dotfiles test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs: 
  install-test: 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install chezmoi
        run: sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /usr/local/bin
     
      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/plugins.toml') }}

      - name: Initaialize and Apply dotfiles
        run: |
          export CI=true
          chezmoi init --apply --source=$GITHUB_WORKSPACE

      - name: Verify tools
        run: |
          zsh --version
          alacritty --version
          git --version
          gcc --version

          starship --version
     
          cargo --version
          zellij --version
          eza --version
          bat --version
          fd --version
          rg --version
          broot --version
          zenith --version
          silicon --version
      
          if fc-list :family | grep -i "HackGen Console NF"
            echo "Font installed successfully"
          else
            echo "Font not found"
            exit 1
          fi
